/* sección 02*/
.paddig_prueba{
	margin: 15px 0px;
}
.height_02_img {
	height: 249px;
	padding: 10% 7%;
}
.bg_02_img1 {
	background-color: $amarillo-laboratoria;
	img{
		width: 80%;
	}
	div{
		float: left;
	}
	div:first-child{
		height: 100%;
		width: 35%;
	}
	div:nth-child(2){
		height: 100%;
		width: 63%;
		color: $font-color-white;
		padding-left: 18%;
		span {
			font-weight: bold;
		} 
	}
}
.bg_02_img2 {
	background-image: url('../images/img03/bitmap.png');
	background-size: cover;
	color: $font-color-white;
	font-weight: bold;
		p{
			position: absolute;
			text-align: right;
			bottom: 0px;
			right: 10%;
		}
	}
.bg_02_img3 {
	background-image: url('../images/img03/bitmap_2.png');
	background-size: cover;
	color: $font-color-white;
	font-weight: bold;
		p{
			position: absolute;
			bottom: 0px;
		}
	}
.bg_02_img4 {
	background-color: $backgroun-dark-gray;
		img{
		width: 80%;
	}
	div{
		float: left;
	}
	div:first-child{
		height: 100%;
		width: 35%;
	}
	div:nth-child(2){
		height: 100%;
		width: 63%;
		color: $font-color-white;
		padding-left: 18%;
		span{
			color: $amarillo-laboratoria;
			font-weight: bold;
		}
	}
}
/* sección 03*/
.backgroun-gray {
	background-color: $backgroun-light-gray;
	padding-bottom: 8%;
}
.font-orange {
	color: $font-color-orange;
}
.text_p_plus {
	font-size: 2em;
}
.img_03 {
	padding: 5%;
	img{
		width: 100%;
	}
}
.text_p_medium {
	font-size: 1.5em;
}
.h5Razonnes {
	margin-top: $mtop;
}
.box-white{
	background-color: $bg-color;
	padding: 4%;
	h5 {
		color: $font-color-light-gray;
		font-weight: bold;
		margin-bottom: 15%;
	}
	p {
		font-size: 2em;
	}
}
.a_underline {
	color: $font-color-orange;
	text-decoration: underline;
	font-weight: bold;
}
/*Preguntar si hay un efecto en específico para los hover de los enlaces*/
.a_underline:hover{
	color: $font-color-gray;
	text-decoration: underline;
	font-weight: bold;
}
/*Panel de imagenes*/
.textPanel {
	font-size: 1.3em;
}
.positionA {
	padding: 9% 0% 0% 26%
}
.positionB {
	color: $font-color-white;
	padding-top: 16%;
}
.height_img {
	background-size: cover;
	height: 294px;
}
.bg_image1{
	background-image: url('../images/img03/coder-arequipa@3x.png');
}
.bg_image2{
	background-image: url('../images/img03/alumna1.png');
	filter: brightness(70%);
}
.bg_image3{
	background-image: url('../images/img03/alumna2.png');
	filter: brightness(70%);
}
.bg_image4{
	background-image: url('../images/img03/alumna3.png');
	filter: brightness(70%);
}
.bg_image5{
	background-image: url('../images/img03/alumna1.png');
	filter: brightness(70%);
}
.bg_image6{
	background-image: url('../images/img03/coder-arequipa@3x.png');
}
/*Sección de "Lo último"*/

