//------------------------------------
// Website colors
// description: Use this variables to define color for the application,
// try to keep this list short and reusable
//
// Usage:
//
// .menu {
//   color: $amarillo-laboratoria;
// }
//
//------------------------------------

$amarillo-laboratoria: #F7B617;
$gris-laboratoria: #333333;
$bg-color: #fff;

$font-color: #393d40;
$font-color-white: #FFFFFF;

$font-color-gray: #3C3C3C;
$font-color-light-gray: #b2b2b2;
$font-color-orange: #f7b617;
$backgroun-light-gray:#f7f7f7;

$bg-gris: #f7f7f7;
