<header class="header">
  <div class="container pv-14">
    <div class="row flex-row">
      <div class="header-left col-md-4 col-xs-4 flex-align-center pt-7">
        <a type="button" class="inline-block tcon-menu--xcross" id="tcon-menu--xcross" aria-label="toggle menu">
          <div class="tcon">
            <span class="text-primary medium pr-7 span-menu"><%= t("header.menu.name") %></span>
            <span class="text-primary medium span-menu">&#9776;</span>
          </div>
        </a>
      </div>
      <div class="header-center col-md-4">
        <div class="hidden-xs hidden-sm">
          <a href="#">
            <svg class="logo-horizontal visible w-140" viewBox="0 0 628 173.093" enable-background="new 0 0 628 173.093" xml:space="preserve">
              <g>
                <path fill="#F7B617" d="M96.257,118.195c1.29,0.701,1.29,1.638,1.29,2.461v3.512c0,0.586-0.47,1.172-1.056,1.172
                  c-0.352,0-0.585-0.232-0.818-0.232L51.74,102.026c-1.173-0.586-1.874-1.288-1.874-2.224v-3.515c0-0.82,0.351-1.76,1.406-2.226
                  l44.402-23.197c0.233-0.116,0.584-0.234,0.935-0.234c0.469,0,0.939,0.351,0.939,1.055v3.398c0,0.702-0.353,1.756-1.407,2.225
                  L56.894,97.927L96.257,118.195z"/>
                <path fill="#FFFFFF" d="M113.95,47.641h5.316c0.605,0,1.087,0.363,1.087,0.967v62.831c0,5.194,1.209,7.005,5.558,7.005h1.328
                  c1.087,0,1.087,0.729,1.087,1.451v4.228c0,0.727-0.483,1.09-1.087,1.209c-1.208,0.12-2.295,0.12-2.9,0.12
                  c-9.543,0-11.357-5.072-11.357-13.289V48.728C112.982,48.124,113.223,47.641,113.95,47.641"/>
                <path fill="#FFFFFF" d="M204.648,125.212c-6.284,0-11.48-2.417-14.137-5.68l-0.241,0.119v3.988c0,0.726-0.244,0.968-1.088,0.968
                  h-4.713c-0.724,0-1.087-0.12-1.087-0.848V48.728c0-0.726,0.363-1.087,1.087-1.087h5.438c0.725,0,0.845,0.361,0.845,0.966v28.031
                  l0.362,0.12c2.658-2.9,7.975-5.436,14.257-5.436c13.896,0,18.971,9.908,18.971,20.056v14.499
                  C224.343,117.114,217.456,125.212,204.648,125.212 M216.971,91.26c0-7.372-3.744-13.654-13.05-13.654
                  c-7.732,0-13.168,6.161-13.168,13.531v14.741c0,7.371,5.436,13.169,13.049,13.169c9.062,0,13.169-5.556,13.169-13.289V91.26z"/>
                <path fill="#FFFFFF" d="M252.831,125.331c-13.048,0-20.541-7.368-20.541-19.813V90.897c0-11.841,7.493-19.695,20.419-19.695
                  c12.807,0,20.421,7.37,20.421,19.695v14.498C273.13,118.083,265.397,125.331,252.831,125.331 M265.881,91.016
                  c0-7.731-4.351-13.408-13.05-13.408c-7.854,0-13.168,5.557-13.168,13.289v14.621c0,7.975,4.107,13.531,13.047,13.531
                  c8.942,0,13.051-5.438,13.172-13.654V91.016z"/>
                <path fill="#FFFFFF" d="M350.031,59.481c0-0.485,0.241-0.965,0.967-1.209l5.075-1.208c0.846-0.239,1.206,0.363,1.206,0.967v13.031
                  h13.292c0.604,0,0.967,0.239,0.967,0.968v4.229c0,0.723-0.243,1.086-0.967,1.086h-13.292v32.038c0,6.041,1.814,9.061,7.13,9.061
                  c2.538,0,5.56-0.36,7.371-0.843c1.328-0.243,1.694,0.362,1.813,1.087l0.724,3.744c0.122,0.968,0,1.209-0.967,1.572
                  c-2.416,0.965-7.128,1.33-10.028,1.33c-10.391,0-13.291-6.159-13.291-14.499V59.481z"/>
                <path fill="#FFFFFF" d="M399.993,125.331c-13.049,0-20.542-7.368-20.542-19.813V90.897c0-11.841,7.493-19.695,20.421-19.695
                  c12.807,0,20.419,7.37,20.419,19.695v14.498C420.29,118.083,412.558,125.331,399.993,125.331 M413.041,91.016
                  c0-7.731-4.35-13.408-13.049-13.408c-7.855,0-13.17,5.557-13.17,13.289v14.621c0,7.975,4.108,13.531,13.048,13.531
                  c8.942,0,13.05-5.438,13.17-13.654V91.016z"/>
                <path fill="#FFFFFF" d="M464.116,60.811c-2.659,0-4.832-2.054-4.832-4.953c0-2.66,2.174-4.713,4.832-4.713
                  c2.779,0,4.952,2.054,4.952,4.713C469.068,58.516,466.775,60.811,464.116,60.811 M460.25,72.094c0-0.727,0.363-0.967,0.967-0.967
                  h5.436c0.726,0,1.089,0.363,1.089,0.967v51.666c0,0.606-0.243,0.848-0.967,0.848h-5.439c-0.602,0-1.086-0.242-1.086-0.848V72.094z"
                  />
                <path fill="#F7B617" d="M571.222,97.81l-39.363-20.503c-1.054-0.469-1.406-1.523-1.406-2.225v-3.399
                  c0-0.703,0.469-1.054,0.938-1.054c0.35,0,0.586,0.118,0.937,0.234l44.4,23.196c1.054,0.467,1.407,1.407,1.407,2.227v3.514
                  c0,0.936-0.588,1.639-1.874,2.225l-43.932,23.081c-0.351,0-0.469,0.232-0.82,0.232c-0.703,0-1.055-0.586-1.055-1.171v-3.514
                  c0-0.82,0-1.758,1.288-2.459L571.222,97.81z"/>
                <path fill="#FFFFFF" d="M156.753,71.082l-9.432,0.001c-0.432,0-0.785,0.354-0.785,0.787v4.822c0,0.432,0.353,0.785,0.785,0.785
                  l8.706,0.009c9.062,0,11.962,4.709,11.962,11.233v5.195l-0.483,0.244c-2.901-3.262-7.975-5.076-12.324-5.076
                  c-12.324,0-18.969,8.098-18.969,18.247c0,10.632,6.403,18.001,18.003,18.001c5.316,0,10.632-1.69,13.774-5.92l0.605,0.122v4.227
                  c0,0.362,0.119,0.848,0.845,0.848h4.953c0.605,0,0.967-0.364,0.967-1.09v-33.83C175.358,78.09,170.526,71.082,156.753,71.082
                   M155.302,119.172c-8.458,0-12.204-5.318-12.204-12.086c0-6.645,4.59-12.08,12.323-12.08c7.856,0,12.085,5.435,12.085,11.96
                  C167.505,113.731,162.551,119.172,155.302,119.172"/>
                <path fill="#FFFFFF" d="M323.376,71.082l-9.43,0.001c-0.432,0-0.785,0.354-0.785,0.787v4.822c0,0.432,0.353,0.785,0.785,0.785
                  l8.704,0.009c9.063,0,11.964,4.709,11.964,11.233v5.195l-0.485,0.244c-2.901-3.262-7.975-5.076-12.324-5.076
                  c-12.324,0-18.971,8.098-18.971,18.247c0,10.632,6.404,18.001,18.003,18.001c5.317,0,10.634-1.69,13.777-5.92l0.602,0.122v4.227
                  c0,0.362,0.12,0.848,0.846,0.848h4.953c0.604,0,0.965-0.364,0.965-1.09v-33.83C341.981,78.09,337.151,71.082,323.376,71.082
                   M321.926,119.172c-8.457,0-12.204-5.318-12.204-12.086c0-6.645,4.59-12.08,12.324-12.08c7.854,0,12.083,5.435,12.083,11.96
                  C334.13,113.731,329.175,119.172,321.926,119.172"/>
                <path fill="#FFFFFF" d="M496.392,71.082l-9.431,0.001c-0.435,0-0.786,0.354-0.786,0.787v4.822c0,0.432,0.352,0.785,0.786,0.785
                  l8.705,0.009c9.062,0,11.963,4.709,11.963,11.233v5.195l-0.484,0.244c-2.901-3.262-7.975-5.076-12.325-5.076
                  c-12.323,0-18.967,8.098-18.967,18.247c0,10.632,6.403,18.001,18.001,18.001c5.317,0,10.634-1.69,13.776-5.92l0.603,0.122v4.227
                  c0,0.362,0.12,0.848,0.846,0.848h4.955c0.603,0,0.965-0.364,0.965-1.09v-33.83C514.999,78.09,510.166,71.082,496.392,71.082
                   M494.942,119.172c-8.458,0-12.202-5.318-12.202-12.086c0-6.645,4.59-12.08,12.323-12.08c7.855,0,12.083,5.435,12.083,11.96
                  C507.146,113.731,502.191,119.172,494.942,119.172"/>
                <path fill="#FFFFFF" d="M301.119,77.539c-8.698,0-12.565,7.679-12.565,15.893v30.208c0,0.725-0.241,0.968-0.967,0.968h-5.437
                  c-0.605,0-1.088-0.243-1.088-0.847V72.893c0-0.724,0.363-0.968,0.967-0.968h4.713c0.723,0,0.968,0.364,0.968,0.968v6.647h0.36
                  c2.899-4.712,8.578-8.458,14.62-8.458l1.723-0.025c0.432,0,0.786,0.35,0.786,0.785v4.885c0,0.434-0.353,0.784-0.786,0.784
                  L301.119,77.539z"/>
                <path fill="#FFFFFF" d="M448.302,77.539c-8.698,0-12.567,7.679-12.567,15.893v30.208c0,0.725-0.239,0.968-0.966,0.968h-5.437
                  c-0.604,0-1.087-0.243-1.087-0.847V72.893c0-0.724,0.363-0.968,0.967-0.968h4.713c0.723,0,0.965,0.364,0.965,0.968v6.647h0.361
                  c2.901-4.712,8.58-8.458,14.62-8.458l1.723-0.025c0.433,0,0.786,0.35,0.786,0.785v4.885c0,0.434-0.353,0.784-0.786,0.784
                  L448.302,77.539z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
       <div class="header-right col-md-4 col-xs-4 flex-align-center">
        <a href="/join-us" class="btn btn-primary btn-outline btn-laboratoria mh-14 hidden-xs hidden-sm h4 mb-0"><%= t("header.menu.joinus") %></a>
        <a href=" {if segment_2=="peru"}#postula{if:else}{exp:transcribe:uri path='postula'}{/if}" class="{if segment_1=="postula"|| segment_1=="contrata-egresadas"}hidden{/if} btn btn-primary btn-laboratoria h4 mb-0">{exp:transcribe:replace name="apply"}</a>
        <a href="{site_url}es" class="pl-14 light hidden-xs {if segment_2=="aqp" || segment_2=="aqp-neutro" || segment_2=="peru"|| segment_1=="contrata-egresadas" || segment_2=="mexico" || segment_3=="aqp-neutro" || segment_3=="aqp"}hidden {/if}">ES /</a>
        <a href="{site_url}en" class="light hidden-xs {if segment_2=="aqp" || segment_1=="contrata-egresadas" || segment_2=="aqp-neutro" || segment_2=="peru"|| segment_2=="mexico" || segment_3=="aqp-neutro" || segment_3=="aqp"}hidden {/if}">EN</a>
      </div>
    </div>
  </div>
</header>
